/* 2.7 Video - Topic about */
h3 {
    color: magenta;
}
p {
    color: blueviolet;
}
.page-title {
    font-weight: 900;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}